[buildout]

## dump downloaded eggs versions to versions.cfg 
extensions = buildout.dumppickedversions
dump-picked-versions-file = versions.cfg
versions = versions
overwrite-picked-versions-file = ${deploy-config:overwrite-picked-versions-file}

# separate from system
allowed-eggs-from-site-packages = false

extends =
    local.cfg
    versions.cfg


# by default don't check for update eggs
newest = false

parts =
    env
    eggs
    django-grappelli

eggs =
    flup        # for runfcgi
    south       # simple migrations for apps
    MySQL-python
    pillow
    sorl-thumbnail
    django-compressor
    slimit

extra-paths = ${buildout:directory}
              ${buildout:directory}/parts
              ${buildout:directory}/parts/django-grappelli
              ${buildout:directory}/project

[env]
recipe = gocept.recipe.env

[eggs]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
scripts = ipython fab
interpreter = python
extra-paths = ${buildout:extra-paths}


[django-grappelli]
recipe = zerokspot.recipe.git
repository = git://github.com/sehmaschine/django-grappelli.git
rev = 320b73ab5d7eabf5775f8ba39d666dfbc44ef44b
